<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <title>Layout Testing</title>
</head>
<body>
    {% block header %}
    {% include 'header.html.twig' %}
    {% include 'navigation.html.twig' %}
    {% endblock %}

   
</body>
</html>